<div class="blogposts-scroll-item">
    <div class="blogpost-content">
        <div class="blogposts-scroll-name"><%= blogpost.name %></div>
        <div class="blogposts-scroll-publish_date"><%= blogpost.publish_date %></div>
        <div class="blogposts-scroll-contents"><%= blogpost.contents %></div>
    </div>
</div>