<div class="container">
    <div class="row">
        <div class="col-5" id="how-it-works-illustration">
            <%= image_tag("shoppinglist.png", class: "illustration") %>
        </div>
        <div class="col-7" id="how-it-works-description">
            <div class="how-it-works-text animate__animated animate__fadeIn first-fade">
                Search for products
            </div>
            <div class="how-it-works-text-small animate__animated animate__fadeIn second-fade">
                or
            </div>
            <div class="how-it-works-text animate__animated animate__fadeIn third-fade">
                message local shops under a category for your desired product.
            </div>
        </div>
    </div>
    </div>
</div>
