<div class="hero-image-div">
    <h4 class="top-buffer">Can the tomatoes of the local supermarket match those 
        of the town's greengrocer?</h4>
    <h4 class="top-buffer">Can ordering online compare to the feel of a record shop?</h4>
    <h4 class="top-buffer">Can buying products on a website through a faceless corporation 
        support the local community?</h4>
    <h4 class="top-buffer">Can you ever really know that that top will look right 
        on you without trying it on?</h4>
    <h2 class="top-buffer">No.</h2>
</div>