<div class="hero-image-div">
    <h1 class="bottom-buffer">"Buscar": to look for (Spanish)</h1>
    <h4>Shopping in Spain remains a personal experience.</h4>
    <h4>Most stores are still family-owned, with the older
        parts of cities remaining traditional.</h4>
    <h4>The Spanish have stayed true to the smaller business
        in a way lost to most of the world.</h4>
    <h2 class="top-buffer">Busco tries to retain that spirit in
        all communities by prioritising the high street and the independent business.</h2>
</div>