<div class="hero-image-div">
    <h4 class="top-buffer">Busco allows consumers to view local produce and to message shops.</h4>
    <h4 class="top-buffer">Busco has CHANGE THIS shops near you.</h4>
</div>