<div id="map-div">
    <div id="shop-list">
        <div id="shop-list-title">Shops within a 10 mile radius</div>
        <% @shops.each do |shop| %>
            <div class="shop-list-item">
                <div class="shop-list-shop-name"><%= shop.name %></div>
                <div class="shop-list-shop-distance">5 miles away</div>
                <div class="shop-list-shop-category"><%= shop.category %></div>
            </div>
        <% end %>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
        <div class="shop-list-item">
            <div class="shop-list-shop-name">Dummy shop</div>
            <div class="shop-list-shop-distance">5 miles away</div>
            <div class="shop-list-shop-category">Food and drink</div>
        </div>
    </div>
    <div id="map"
     style="width: 100%; height: 100%;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>