<div class="hero-image-div">
    <h1 class="bottom-buffer">"Buscar" (boo-sca-R): to look for (Spanish)</h1>
    <h4>Shopping in Spain remains a personal experience in family-owned businesses.</h4>
    <h2 class="top-buffer">Busco tries to retain that spirit in
        all communities by prioritising the high street and the independent business.</h2>
</div>