#frontpage-main-container {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
section {
    font-size: 1.2rem;
    height: 100vh;
    scroll-snap-align: start;
}

#section-one {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(highstreet.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-two {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(spain.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-three {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(greengrocer.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-four {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(venice-market.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
        #frontpage-sectionthree-container {
            max-width: 80%;
            max-height: 80%;
            border: solid red 10px;
        
    }
}

#section-four {
    background-color:black;
}

a {
    color: white;
}

a:hover {
    color: white;
}