#sign-in-buttons {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 40px 20px 0px;

    #home-page-username {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.btn-dark {
    width: 85px;
}

